@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');




html,
body,
header,
#fondo-login {
  height: 100%;
}

html,
body,
header,
#fondo {
  height: 750px;
}

@media (max-width: 740px) {
html,
body,
header,
#fondo  {
height: 1100px;
}
}
@media (min-width: 800px) and (max-width: 850px) {
html,
body,
header,
#fondo {
height: 700px;
}
}

.nav-link:not(.top-nav-collapse){
	color: #fff !important;
	font-weight: bold;
}

.navbar:not(.top-nav-collapse) {
	background: transparent !important;
}

.top-nav-collapse
{
	background: white !important;
	opacity: 0.97;
}

.top-nav-collapse .nav-link {
	color: #757575 !important;
}


.form-inline .btn {
	border-style: solid;
	border-width: thin;
	text-transform: none;
	width:125px;
}#btn-sign-up{
	background-color: transparent;
	color: white;
}#btn-sign-in{
	background-color: white;
	color: #0277bd;
	border-color: #0277bd;
	font-family: "Nunito";
	font-size: 16px;
	padding: 5px;
	border-radius: 5px;
}

#btnForm .btn {
	background-color:  rgb(68, 115, 196);
	border-radius: 2.5rem;
}

.top-nav-collapse
{
	background: white !important;
}

#equipo .card-title {
	font-family: "Baloo Thambi";
	font-size: 16px;
	color: black;
}

.form-title {
	font-family: "Baloo Thambi";
	font-size: 18px;
	color: black;
}

.col-md-6 h2 {
	color: white;
	font-family: "Hind Vadodara";
	font-weight: bold;
}

.col-md-6 #raya {
	border-color: white;
	border-width: thin;
}

.card-body h5{
	color: #4472C4;
	font-family: "Hind Vadodara";
	font-size: 18px;
}


.title {
	font-family: "Baloo Thambi";
	font-weight: bold;
	font-size: 34px;
}


.sub-title {
	font-family: "Open Sans";
	font-size: 18px;
	color: black;
}


#servicios img {
	height: 350px;
	width: 525px;
}


li {
	list-style-type: none;
}


#agenda .card {
	border-color: lightgrey;
	border-style: solid;
	border-width: thin;
}

.box-label {
	font-family: "Hind Vadodara";
	font-size: 16px;	
	color: grey;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
html,
body,
header,
.view {
height: 100%;
}
}
@media (min-width: 800px) and (max-width: 850px) {
html,
body,
header,
.view {
height: 100%;
}
}

#btnSesion .btn {
	color: #203864;
	background-color: white;
	border-radius: 1.25rem;
	padding: 0.25rem 0.25rem;
	font-size: 0.875rem;
	line-height: 1.5;
	text-transform: capitalize;
	width:130px;
}

#btnForm .btn {
	background-color:  rgb(68, 115, 196);
	border-radius: 2.5rem;
}

#centrar{
	display: flex;
	justify-content: center;
	align-items: center;
}


#form-background,
#background {
	width: 55%;
	height: 750px;
	background-image: url('../img/fondo-b.jpg');
	background-size: cover;
	border-radius: 0px 0px 0px 1000px;
	position: relative;
	float: right;
}

#form-background {
	width: 100%;
	height: 100%;
	border-radius: 0px 0px 0px 0px !important;
	position: fixed;
}

#form-background .accent-background {
	width: 100%;
	height: 100%;
	background: linear-gradient(179.99deg, #01579B 0.03%, rgba(255, 255, 255, 0) 158.03%), #fafafa;
	border-radius: 0px 0px 0px 0px;
	opacity: 0.90;
	position: fixed;
}

#form-mask {
	width: 100%;
	height: 100%;
}

#form-mask .banner {
	padding-top: 0px;
	padding-left: 80px;
	height: 100%;
	width: 100%;
}

#form-background #login-card {
	height: 530px;
	width: 570px;
}

#form-background #register-card {
	height: 600px;
	width: 800px;
	border: 1px solid #bdbdbd;
}

.banner {
	width: 100%;
	height: 750px;
	padding-top: 250px;
	padding-left: 200px;
}

.icon-brand {
	font-size: 25px;
	background: linear-gradient(162.68deg, #01579B 19.15%, rgba(255, 255, 255, 0) 88.11%), #00BFA5;
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	float: left;
}

.first-name {
	font-family: "Nunito";
	color: #bdbdbd;
	font-size: 20px;
	margin-bottom: 0px;
}

.second-name {
	font-family: "Montserrat";
	color: #9e9e9e;
	font-size: 20px;
}

.name-brand {
	float: left;
	margin-left: 10px;
}

.wrapper {
	width: 100%;
	height: 750px;
}


.banner-title {
	font-family: "Montserrat";
	color: #757575;
}

.banner-title h2 {
	font-size: 35px;	
}


.banner-title h3 {
	font-size: 48px;
	font-weight: 800;
}

.banner-text {
	font-size: 20px;
	font-family: "Nunito";
	color: #9e9e9e;
}

.banner-mark{
	border: 3px solid #e0e0e0;
	width: 80px;
}

.brand {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand .icon-brand {
	font-size: 40px;
}

.brand .name-brand {
	display: flex;
	justify-content: center;
	align-items: center;
}

#register-card .form-title,
#login-card label {
	font-size: 18px;
	font-family: 'Nunito';
	color: #757575;
	margin-bottom: 25px;
	margin-top: 15px;
}

#register-card .card-body,
#login-card .card-body {
	padding-left: 50px;
	padding-right: 50px;
}

#register-card,
#login-card {
	box-shadow: 12px 12px 50px rgba(0, 0, 0, 0.1);
}

#register-card input,
#login-card input {
	height: 55px;
	color: #9e9e9e;
	font-size: 20px;
	font-family: 'Nunito';
	background-color: #fafafa;
}

#register-card #btn-register,
#login-card #btn-login {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#btn-register button,
#btn-login button {
	text-transform: none;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Nunito';
}

.brand .first-name {
	font-size: 22px;
}

.brand .second-name {
	font-size: 28px;
	font-weight: bold;
}

.welcome {
	width: 100%;
	height: auto;
	padding-top: 15px;
	margin-bottom: 0px;
}

.welcome h1 {
	font-size: 48px;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #fafafa;
	margin-bottom: 20px;
}

.welcome p {
	font-size: 20px;
	color: white;
	font-family: 'Nunito';
	font-weight: normal;
	margin-right: 25px;
	margin-left: 25px;
}

@media only screen and (max-width : 1100px) {
	.navbar:not(.top-nav-collapse) {
		background: black !important;
	}

	.top-nav-collapse {
		background: black !important;
		opacity: 0.90;
	}

	.top-nav-collapse .nav-link {
		opacity: 1 !important;
	}

	
	#background {
		height: 320px;
		width: 70%;
		border-radius: 0px 0px 0px 1000px;
	}

	#form-mask .banner{
		padding-top: 0px;
		padding-left: 25px;
		text-align: center;
	}

	#form-mask .banner-mark {
		margin: auto;
	}

	#register-card,
	#login-card {
		width: 100% !important;
		height: 100% !important;
		margin-left: 10px;
		margin-right: 10px;
	}

	#register-card .card-body,
	#login-card .card-body{
		padding-left: 20px;
		padding-right: 20px;
	}

	#btn-login {
		height: 90px !important;
	}

	.banner {
		padding-left: 25px;
		padding-right: 18px;
		padding-top: 350px;
	}

	.banner h2 {
		font-size: 25px;
	}

	.banner h3 {
		font-size: 45px;
	}

	.navbar-toggler {
		font-size: 20px;
	}

	.banner-text {
		width: 100%;
	}

	.icon-brand{
		color: white !important;
	}

	.navbar-brand .first-name {
		color: white !important;
	}

	.navbar-brand .second-name {
		color: white !important;
	}

	#fondo-login {
		height: auto;
	}

	
}

.register-text {
	width: 100%;
}

.register-text h1{
	font-size: 18px;
	font-family: 'Nunito';
	color: #757575;
}

.register-text a {
	color: #00BFA5;
}

.nav-link {
	font-size: 16px;
	font-family: "Nunito";
	border-bottom: 4px solid transparent;
}

.nav-link:hover{
	border-bottom: 4px solid #0277bd;
}